@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.container
{
    margin-top:5%;
    margin-left: 16%;
}
.order-card {
    color: #fff;
}

.bg-c-blue {
    background: linear-gradient(45deg, #1c6dc6, #356b9d);
}

.bg-c-green {
    background: linear-gradient(45deg, #1a9a7e, #2d9d8b);
}

.bg-c-yellow {
    background: linear-gradient(45deg, #c97d00, #ffaa4c);
}

.bg-c-pink {
    background: linear-gradient(45deg, #c42233, #d4676e);
}



.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.card .card-block {
    padding: 25px;
}

.order-card i {
    font-size: 26px;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}

/* SEARCH BAR ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.search {
    width: 100%;
    position: relative;
    display: flex;
  }
  
  .searchTerm {
    width: 100%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    height: 36px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
  }
  
  .searchTerm:focus{
    color: #00B4CC;
  }
  
  .searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }
  
  /*Resize the wrap to see the search bar change!*/
  .wrap{
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


  .box {
    padding: 10px;
    text-align: center;
    margin-top: 20px;
    width: 250px;
    height: 50px;
    background-color: black;
    color: #fff;
    text-align: center;
    /* border-radius: 8px; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .round-button {
    width: 60px;
    height: 60px;
    background-color: #3498db;
    color: #fff;
    text-align: center;
    line-height: 60px;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .container1
  {
    display: flex;
  }


  .input-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 300px;
}

.box {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #3498db;
  border-radius: 4px;
  outline: none;
}

.input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  cursor: pointer;
}

.left-icon {
  left: 10px;
}

.right-icon {
  right: 10px;
}

.table
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}