<section class="content" id="id-enter">
    <div class="col-md-12">
        <div class="card ipsh-card">
            <div class="card-header">
                <h3 class="card-title"><i class="far fa-user mr-2 fa-icon-gradient-default"></i>Update User</h3>
                <div class="card-tools">
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="userName">User Name</label>
                            <!-- <span class="error-msg-span">{{validationMessage.guestId}}</span> -->
                            <input type="text" class="form-control" id="userNameu"
                                placeholder="User Name" value="" readonly>
                        </div>
                        <div class="form-group">
                            <label for="fullname">Full Name</label>
                            <!-- <span class="error-msg-span">{{validationMessage.guestPhoneNo}}</span> -->
                            <input type="text" class="form-control" id="fullnameu"
                                placeholder="Full Name" value="">
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            
                            <input type="email" class="form-control" id="emailu"
                                placeholder="Email" value="" >
                        </div>
                        <div class="form-group">
                            <label for="phoneNumber">Phone Number</label>
                            <!-- <span class="error-msg-span">{{validationMessage.guestAddress}}</span> -->
                            <input type="number" class="form-control" id="phoneNumberu"
                                placeholder="Phone Number" value="">
                        </div>
                        <div class="form-group">
                            <label for="college">College</label>
                            <!-- <span class="error-msg-span">{{validationMessage.guestAddress}}</span> -->
                            <input type="text" class="form-control" id="collegeu"
                                placeholder="College" value="">
                        </div>
                        <div class="form-group">
                            <label for="branch">Branch</label>
                            <!-- <span class="error-msg-span">{{validationMessage.guestAadhaarNo}}</span> -->
                            <input type="text" class="form-control" id="branchu"
                                placeholder="Branch" value="">
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="branch">Total Marks</label>
                            <!-- <span class="error-msg-span">{{validationMessage.guestAadhaarNo}}</span> -->
                            <input type="text" class="form-control" id="totalMarksu"
                                placeholder="Total Marks" value="">
                        </div>
                        <div class="form-group">
                            <label for="gender">Gender</label>
                            <!-- <span class="error-msg-span">{{validationMessage.guestRoomNo}}</span> -->
                            <input type="text" class="form-control" id="genderu"
                                placeholder="Gender" value="">
                        </div>
                        <div class="form-group">
                            <label for="mcqu">MCQ</label>
                            <select class="form-control" id="mcqu" name="mcqu" >
                                <option value="true">Attended</option>
                                <option value="false">Not Attended</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="prgu">Program</label>
                            <select class="form-control" id="prgu" name="prgu" >
                                <option value="true" selected>Attended</option>
                                <option value="false">Not Attended</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="userType">User Type</label>
                            <!-- <span class="error-msg-span">{{validationMessage.guestRoomType}}</span> -->
                            <input type="text" class="form-control" id="userTypeu"
                                placeholder="User Type" value="" readonly>
                        </div>
                        <div class="form-group">
                            <label for="status">Status</label>
                            <!-- <span class="error-msg-span">{{validationMessage.guestRoomType}}</span> -->
                            <input type="text" class="form-control" id="statusu"
                                placeholder="Status" value="" readonly>
                        </div>
    
                    </div>
                    <!-- /.col -->
                </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer clearfix">
                <button type="button" class="btn action-btns action-btn float-right" (click)="update()" style="margin-right: 30px;">
                UPDATE
                </button>

                <button type="button" class="btn action-btns  float-right" (click)="backToUser()" style="margin-right: 30px;">
                  LIST
                </button>
            </div>
            <!-- /.card-footer-->
        </div>
    </div>
</section>

