<section class="content" id="id-enter">
    <div class="col-md-12">
        <div class="card ipsh-card">
            <div class="card-header">
                <h3 class="card-title"><i class="far fa-user mr-2 fa-icon-gradient-default"></i>User Details</h3>
                <div class="card-tools">
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="userName">User Name</label>
                            <!-- <span class="error-msg-span">{{validationMessage.guestId}}</span> -->
                            <input type="text" class="form-control" id="userNameD"
                                placeholder="User Name" value="" readonly>
                        </div>
                        <div class="form-group">
                            <label for="fullname">Full Name</label>
                            <!-- <span class="error-msg-span">{{validationMessage.guestPhoneNo}}</span> -->
                            <input type="text" class="form-control" id="fullnameD"
                                placeholder="Full Name" value="" readonly>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            
                            <input type="email" class="form-control" id="emailD"
                                placeholder="Email" value="" readonly>
                        </div>
                        <div class="form-group">
                            <label for="phoneNumber">Phone Number</label>
                            <!-- <span class="error-msg-span">{{validationMessage.guestAddress}}</span> -->
                            <input type="number" class="form-control" id="phoneNumberD"
                                placeholder="Phone Number" value="" readonly>
                        </div>
                        <div class="form-group">
                            <label for="college">College</label>
                            <!-- <span class="error-msg-span">{{validationMessage.guestAddress}}</span> -->
                            <input type="text" class="form-control" id="collegeD"
                                placeholder="College" value="" readonly>
                        </div>
                        <div class="form-group">
                            <label for="ktuIdD">Ktu Id</label>
                            <!-- <span class="error-msg-span">{{validationMessage.guestAddress}}</span> -->
                            <input type="text" class="form-control" id="ktuIdD"
                                placeholder="Ktu Id" value="" readonly>
                        </div>
                        <div class="form-group">
                            <label for="totalMarksD">Total Marks</label>
                            <!-- <span class="error-msg-span">{{validationMessage.guestAddress}}</span> -->
                            <input type="text" class="form-control" id="totalMarksD"
                                placeholder="Total Marks" value="" readonly>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="branch">Branch</label>
                            <!-- <span class="error-msg-span">{{validationMessage.guestAadhaarNo}}</span> -->
                            <input type="text" class="form-control" id="branchD"
                                placeholder="Branch" value="" readonly>
                        </div>
                        <div class="form-group">
                            <label for="gender">Gender</label>
                            <!-- <span class="error-msg-span">{{validationMessage.guestRoomNo}}</span> -->
                            <input type="text" class="form-control" id="genderD"
                                placeholder="Gender" value="" readonly>
                        </div>
                        <div class="form-group">
                            <label for="userType">User Type</label>
                            <!-- <span class="error-msg-span">{{validationMessage.guestRoomType}}</span> -->
                            <input type="text" class="form-control" id="userTypeD"
                                placeholder="User Type" value="" readonly>
                        </div>
                        <div class="form-group">
                            <label for="status">Status</label>
                            <!-- <span class="error-msg-span">{{validationMessage.guestRoomType}}</span> -->
                            <input type="text" class="form-control" id="statusD"
                                placeholder="Status" value="" readonly>
                        </div>
                        <div class="form-group">
                            <label for="mdateD">Modified Date</label>
                            <!-- <span class="error-msg-span">{{validationMessage.guestAddress}}</span> -->
                            <input type="text" class="form-control" id="mdateD"
                                placeholder="Modified Date" value="" readonly>
                        </div>
                        <div class="form-group">
                            <label for="cdateD">Created Date</label>
                            <!-- <span class="error-msg-span">{{validationMessage.guestAddress}}</span> -->
                            <input type="text" class="form-control" id="cdateD"
                                placeholder="Created Date" value="" readonly>
                        </div>
    
                    </div>
                    <!-- /.col -->
                </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer clearfix">


                <button type="button" class="btn action-btns  float-right" (click)="backToUser()" style="margin-right: 30px;">
                  LIST
                </button>
            </div>
            <!-- /.card-footer-->
        </div>
    </div>
</section>


