<div class="container">
    <div class="row">
        <div class="col ">
            <button class="btn btn-dark btn-block" id="idLoginBtn" (click)="question()">Question Register</button>
        </div>
        <div class="col">
            <button class="btn btn-dark btn-block" id="idLoginBtn" (click)="user()">Student Register</button>
        </div>
        <div class="col">
            <button class="btn btn-dark btn-block" id="idLoginBtn" (click)="admin()">Super Admin Table</button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col ">
            <button class="btn  btn-dark btn-block" id="idLoginBtn" (click)="addquestion()">Add Question</button>
        </div>
        <div class="col">
            <button class="btn btn-dark btn-block" id="idLoginBtn" (click)="codebase()">Student Codebase</button>
        </div>
        <div class="col">
            <button class="btn  btn-dark btn-block" id="idLoginBtn" (click)="admin()">Super Admin Table</button>
        </div>
    </div>
    </div>
