<div class="header-container">
    <div class="header-content">
      <div class="profile-photo">
        <img src="https://t3.ftcdn.net/jpg/05/53/79/60/360_F_553796090_XHrE6R9jwmBJUMo9HKl41hyHJ5gqt9oz.jpg" alt="Profile Photo">
      </div>
      <div class="main-content">
        <nav>
          <ul>
            <h3 class="heading">{{heading}}</h3>
            <p class="username">{{username}} KTU ID 2023</p>
          </ul>
        </nav>
      </div>
      <app-timer></app-timer>
    </div>
  </div>
  